@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Inter:wght@300&family=Kanit&display=swap");
@font-face {
  font-family: "Gotic";
  src: url("../public/Fuentes/GOTHICBI.TTF");
}
@font-face {
  font-family: "GoticN";
  src: url("../public/Fuentes/GOTHICI.TTF");
}
html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}
*::-webkit-scrollbar {
  -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
  width: 8px;
}

*::-webkit-scrollbar-button:increment,
*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar:horizontal {
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #929292;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}
.app {
  display: flex;
  position: relative;
  height: 100%;
}
.btn-toggle {
  cursor: pointer;
  display: none;
}
.sidebar-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-btn {
  padding: 1px 15px;
  border-radius: 40px;
  color: #ff0000;
  text-decoration: none;
  margin: 0 auto;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sidebar-btn span {
  margin-left: 5px;
  font-size: 13px;
}
.sidebar-btn:hover {
  color: #d8d8d8;
}
.collapsed .sidebar-btn {
  display: inline-block;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 40px;
  padding: 0;
}
.main {
  padding: 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
header {
  margin-bottom: 16px;
  border-bottom: 1px solid #efefef;
}
.block {
  display: flex;
  margin-bottom: 24px;
  font-size: 14px;
  color: #545454;
}
.block span {
  margin-left: 10px;
}
.contenedorPrincipal {
  background-image: url(../public/technology_digital_art-142340.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.contenedorPadre {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.contenedorHijo {
  display: flex;
  align-self: center;
  height: 70vh;
  width: 70vw;
  border-radius: 10px;
  overflow: hidden;
  border: 5px solid rgb(255, 255, 255);
}
.contenedorIzquierda {
  background-image: url(../public/backg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.condivtitle {
  display: flex;
  flex-direction: column;
}
.titleTec {
  color: #fff;
  font-family: "Kanit", sans-serif;
  text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
  font-size: 2rem;
}
.titleTecGe {
  font-family: "Bai Jamjuree", sans-serif;
  color: #fff;
  font-size: 1rem;
  padding-left: 1.8rem;
  text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
}
.contenedorDerecha {
  background-color: #fff;
  width: 50vw;
}
.login-form {
  padding: 5rem;
}
.login-form-title {
  font-family: "poppins", sans-serif;
  font-style: oblique;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  font-weight: 700;
  width: 100%;
  display: block;
  padding-bottom: 54px;
}
.wrap-input {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}
.input {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #666;
  outline: none;
  border: none;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 3rem;
  border-radius: 1rem;
  padding-left: 2.5rem;
  box-sizing: border-box;
}
.focus-input {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(7, 25, 4, 0.8);
}
.input:focus + .focus-input {
  animation: anim-shadow 0.5s ease-in-out forwards;
}
@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}
@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}
.symbol-input {
  font-size: 15px;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  pointer-events: none;
  color: #008924;
  transition: all 0.4s;
}
.input:focus + .focus-input + .symbol-input {
  color: rgba(0, 17, 2, 0.71);
  padding-left: 10px;
}
.login-form-btn-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.login-form-btn {
  font-family: "poppins", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  background: #000000;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  transition: all 0.4s;
  border: none;
}
.login-form-btn:hover {
  background: #002707e3;
}

.sidebar {
  display: flex;
  justify-content: space-between;
}
.title {
  color: #f8f9fa;
  top: 50%;
  padding: "9px";
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.15rem;
  letter-spacing: 1px;
  font-family: "Inter";
  margin-left: 1.5rem;
  font-weight: bold;
}
.user {
  padding: 0.75rem 1.5rem;
}
.userCont {
  display: flex;
}
.imgCont {
  flex-shrink: 0;
}
.img {
  height: 45px;
  width: 45px;
  margin-right: 0.25rem;
  border-radius: 0.2rem;
}
.ps-2 {
  padding-left: 0.5rem;
  flex-grow: 1;
}
.namerol {
  color: #e9ecef;
  font-size: 0.875rem;
  font-family: "Inter";
  white-space: nowrap;
  font-weight: bold;
}
.rols {
  color: #adb5bd;
  font-size: 0.875rem;
}

/* Pages */
.contegrip {
  margin: 1rem;
}
.conthead {
  display: flex;
  justify-content: space-between;
}
.conthead-a {
  display: flex;
  width: 100%;
}
.conthead-a-a {
  width: 50%;
  padding: 1rem;
}
.conthead-a-b {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0.875rem 0 rgb(33 37 41 / 5%);
  width: 50%;
}
.conta-a {
  display: flex;
}
.conta-a-a {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 0.25rem;
  border: 0 solid transparent;
  margin-bottom: 0.5rem;
  padding: 1rem;
}
.title-s {
  color: rgb(147, 155, 162);
  font-size: 0.925rem;
  font-weight: 600;
  font-family: "Inter";
}
.title-n {
  color: rgb(0, 0, 0);
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0px;
}
.conta-a-b {
  width: 50%;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0.875rem 0 rgb(33 37 41 / 5%);
  border-radius: 0.25rem;
  border: 0 solid transparent;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}
.conta-a-c {
  width: 50%;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0.875rem 0 rgb(33 37 41 / 5%);
  border-radius: 0.25rem;
  border: 0 solid transparent;
}
.conta-a-d {
  width: 50%;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0.875rem 0 rgb(33 37 41 / 5%);
  border: 0 solid transparent;
  margin-left: 0.5rem;
}
/* modal*/
.contForm {
  /* background-color: red; */
}
.contText {
  padding: 0.5rem 0 0.5rem 0;
}
.contButton {
  display: flex;
  justify-content: flex-end;
}
.contgri {
  padding: 1rem;
}
.contDivTex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.texFiel {
  width: 50%;
  padding: 0.5rem 0.5rem 0.5rem 0;
}
.conDivCom {
  padding: 0.5rem 0.5rem 0.5rem 0;
}
.div-form {
  padding: 1rem;
}
.div-cont-form {
  width: 100%;
}
.div-cont {
  display: flex;
  width: 100%;
}
.div-cont-left {
  width: 50%;
  background-color: #222e3c;
  overflow-y: scroll;
  height: 33rem;
}
.div-cont-rigth {
  width: 50%;
  margin-left: 0.8rem;
  background-color: #222e3c;
  overflow-y: scroll;
  height: 33rem;
}
.div-cont-top {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.div-cont-sub {
  padding: 0.5rem;
}
.div-cont-textField {
  padding: 0.5rem;
  display: flex;
  width: 100%;
}
.div-cont-textField-left {
  padding: 0.2rem;
  width: 50%;
}
.div-cont-textField-right {
  padding: 0.2rem;
  width: 50%;
}
.div-cont-equip {
  padding: 0.8rem;
}

.div-list {
  padding: 0.8rem;
}
.title-table {
  font-family: "Inter";
  font-size: 1.3rem;
  color: #fff;
  font-weight: 400;
  line-height: 1.2;
}
.lis-cont {
}
.title-co {
  font-family: "GoticN";
  font-size: 1rem;
  padding-bottom: 0.2rem;
  font-weight: bold;
}
.template-detail-label {
  font-family: "Inter";
  font-size: 0.8rem;
}
.div-check {
  display: flex;
}
.check-number {
  padding-top: 0.3rem;
  width: 1.3rem;
  font-family: "Inter";
  font-size: 0.8rem;
}
.check-title {
  padding-top: 0.3rem;
  padding-left: 0.5rem;
  font-family: "GoticN";
}
.text-Info {
  font-family: "GoticN";
  padding-left: 0.5rem;
  font-weight: bold;
}
@media all and (min-width: 320px) and (max-width: 768px) {
  .btn-toggle {
    display: flex;
    background-color: #141b2d;
  }
  .div-cont {
    flex-direction: column;
  }
  .div-cont-left {
    width: 100%;
  }
  .div-cont-rigth {
    margin-top: 1rem;
    margin-left: 0;
    width: 100%;
  }
  .contenedorIzquierda {
    width: 0;
  }
  .contenedorDerecha {
    width: 100vw;
  }
}
